
.sbox {
height: 600px;
background-color: #B0C4DE;
}
.white {
background-color: white;
}
.whiteTwo {
background-color: white;
height: 500px;
}
.whiteThree {
background-color: white;
height: 40px;
}
.puple{
height: 70px;
background-color: #B0C4DE;
}
.quit {
width: 60px;
height: 35px;
position: absolute;
right: 20px;
top: 10px;
}
h4 {
width: 400px;
height: 60px;
color: black;
}