body{
  background-color: #fafafa;
}
.mainLogo{
  background-color: #1295D8;
  background-image: url("/imgs/background.png")
}
.title{
  color:#286090;
  font-size: 2em;
  margin: 0;
  line-height: 100px;
}
.gif{
  margin-top: 7.5px;
}
.mainDiv{
  border: 3px solid lightgray;
  border-radius: 4px;
}