extends ../layout

block content
  link(rel="stylesheet", href="/css/signin.css")
  
  body
    .container-fluid.mainLogo
      .container
        .col-md-8.col-xs-0
          .col-md-3.col-xs-4
            img.img-responsive(src='/imgs/logo.png')
          .col-md-9.col-xs-8
            h3.text-left.title=title
        .col-md-4.col-xs-0
          img.img-responsive.gif(src='/imgs/xiaoxun.gif')
    br
    .container
      .row
        form(action="/add", method="POST")
          .input-group.input-group-lg
            span.input-group-addon 申请日期
            input.form-control(type='text', name="date", placeholder='date', aria-describedby='sizing-addon2')
          br
          .input-group.input-group-lg
            span.input-group-addon 项目分类
            input.form-control(type='text', name="kind", placeholder='item_class', aria-describedby='sizing-addon2')
          br
          .input-group.input-group-lg
            span.input-group-addon 项目名
            input.form-control(type='text', name="name", placeholder='item_name', aria-describedby='sizing-addon2')
          br
          .input-group.input-group-lg
            span.input-group-addon 申请分值
            input.form-control(type='text', name="applyPoint", placeholder='apply_value', aria-describedby='sizing-addon2')
          br
          .input-group.input-group-lg
            span.input-group-addon 备注
            input.form-control(type='text', name="remark", placeholder='remarks', aria-describedby='sizing-addon2')
          br
          button.btn.btn-primary 录入