extends ../layout

block content
  link(rel="stylesheet", href="/css/signin.css")
  
  body(style='background:url(http://owgyo1d3r.bkt.clouddn.com/3949%E8%93%9D%E5%A4%A9%E8%83%8C%E6%99%AF.jpg)')
    .container-fluid.mainLogo
      .container
        .col-md-8.col-xs-0
          .col-md-3.col-xs-4
            a(href="http://localhost:3000")
              img.img-responsive(src='/imgs/logo.png')
          .col-md-9.col-xs-8
            h3.text-left.title=title
        .col-md-4.col-xs-0
          img.img-responsive.gif(src='/imgs/xiaoxun.gif')
    br
    .container
      .row
        form.form-horizontal(action="/add", method="POST")
          .input-group.input-group-lg.col-md-12
            .input-group-addon 申请日期
            input.col-md-10.form-control(type='text', name="date", placeholder='date')
          br
          .input-group.input-group-lg.col-md-12
            .input-group-addon 项目分类
            select.col-md-10.form-control(type='text', name="kind", placeholder='item_class')
              option <请选择>
              option 新学分类
              option 自主学习类
              option 创新学分类
              option 养成体验类
              option 其他养成体验类
              option 新学分类
          br
          .input-group.input-group-lg.col-md-12
            .input-group-addon 项目内容
            input.col-md-10.form-control(type='text', name="name", placeholder='item_name')
          br
          .input-group.input-group-lg.col-md-12
            .input-group-addon 申请分值
            input.col-md-10.form-control(type='text', name="applyPoint", placeholder='apply_value')
          br
          .input-group.input-group-lg.col-md-12
            .input-group-addon 具体说明
            input.col-md-10.form-control(type='text', name="remark", placeholder='remarks')
          br
          button.btn.btn-lg.btn-primary.btn-block 录入