extends ../layout

block content
    link(href='..\public\libs\bootstrap\dist\css\bootstrap-theme.min.css', rel='stylesheet')
    style.
      .box{
      width: 900px;
      height: 550px;
      position: absolute;
      right: 235px;
      top: 220px;
      }
      .title2 {
      position: absolute;
      right: 600px;
      top: -90px;
      }
  body
    .container-fluid.mainLogo
      .container
        .col-md-8.col-xs-0
          .col-md-3.col-xs-4
            img.img-responsive(src='/imgs/logo.png')
          .col-md-9.col-xs-8
            h3.text-left.title 武汉轻工大学素质学分管理系统
        .col-md-4.col-xs-0
          img.img-responsive.gif(src='/imgs/xiaoxun.gif')
    br
    .box
      h2.title2 个人素质拓展学分添加
      .input-group.input-group-lg
        span#sizing-addon2.input-group-addon 申请日期
        input.form-control(type='text', placeholder='date', aria-describedby='sizing-addon2')
      br
      .input-group.input-group-lg
        span#sizing-addon2.input-group-addon 项目分类
        input.form-control(type='text', placeholder='item_class', aria-describedby='sizing-addon2')
      br
      .input-group.input-group-lg
        span#sizing-addon2.input-group-addon 项目名
        input.form-control(type='text', placeholder='item_name', aria-describedby='sizing-addon2')
      br
      .input-group.input-group-lg
        span#sizing-addon2.input-group-addon 申请分值
        input.form-control(type='text', placeholder='apply_value', aria-describedby='sizing-addon2')
      br
      .input-group.input-group-lg
        span#sizing-addon2.input-group-addon 备注
        input.form-control(type='text', placeholder='remarks', aria-describedby='sizing-addon2')
      br
      button.btn.btn-primary(type='button') 录入